<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Backbone.js</title>
  </head>
  <body>

    <div id="tasks"></div>

    <!-- <script type="text/template" id="task-template"> -->
      <!-- <%- title %> <span class="command">command</span> -->
    <!-- </script> -->
    <script type="text/template" id="task-template">
      <%- title %>
    </script>
    <script src="js/underscore.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/backbone.js"></script>
    <!-- 実際のアプリケーションのjs -->
    <script src="js/app.js"></script>
  </body>
</html>
